* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #1f2424;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 1rem;
  display: flex;
  width: 90%;
  left: 50%;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  backdrop-filter: blur(12px);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  z-index: 100;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li {
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li:active a {
  color: #FFD700;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .menu-button {
    display: block;
    cursor: pointer;
  }
}

/* Hide on medium screens */
.menu-container {
  display: block;
}

/* Mobile menu container */
#mobile-menu {
  position: fixed;      
  top: 5rem;             
  left: 0; 
  width: 100%;  
  background: black; 
  color: white;   
  display: none; 
  flex-direction: column;
  gap: 1.5rem; 
  text-align: center; 
  padding: 1.5rem 0; 
  z-index: 40; 
}

#mobile-menu a {
  padding: 0.5rem 0;
  color: #fff;
  text-decoration: none;
  color: inherit;    
  transition: background 0.3s ease-in-out;
}

#mobile-menu.active {
  display: flex;
}

#mobile-menu a:hover {
  background-color: #FFD700;
}

.menu-button {
  background: none;
  border: none;
  color: #FFD700;   
  font-size: 2rem;
  cursor: pointer !important;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .navbar {
    display: flex;
  }
}

@media (max-width: 768px) {
  .home-info .home-btn {
    flex-direction: column;
    gap: 1rem;
  }

  .home-info .home-btn .home-socials {
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer-nav {
    gap: 1rem;
  }
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 50px;
  padding: 50px 9% 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

.home-info h1 {
  font-size: clamp(2rem, 6vw, 55px);
}

.home-info h2 {
  font-size: clamp(1.2rem, 4vw, 32px);
}

.home-info h2 span::before {
  font-size: clamp(1rem, 3vw, 32px);
}

.home-info h2 {
  margin-top: -5px;
  display: inline-block;
  margin-bottom: 20px;
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #FFD700;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%, 100% {
    display: none;
  }
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #FFD700;
  color: #FFD700;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

.home-info .home-btn {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .home-info h1 {
    font-size: 35px;
  }
  .home-info h2 {
    font-size: 20px;
  }
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background:#FFD700;
  border: 3px solid #FFD700;
  border-radius: 40px;
  box-shadow: 0 0 10px #FFD700;
  font-size: 16px;
  color: #1f2424;
  font-weight: 600;
  transition: 0.6s;
}

.btn:hover {
  background: transparent;
  color: #FFD700;
  box-shadow: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 10px;
  }
  
}

.home-info .home-btn .home-socials {
  margin-left: 20px;
}

.home-info .home-btn .home-socials a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #FFD700;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 8px;
  transition: 0.5s;
}

.home-info .home-btn .home-socials a:hover {
  background: #FFD700;
  color: #1f2424;
}

.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent, transparent, transparent, #FFD700);
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1f2424;
  border-radius: 50%;
  border: .1px solid #1f2424;
  justify-content: center;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.home-img .img-box .img-item img {
  position: absolute;
  top: 30px;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f2424;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}

/* About Section */
.about-section {
  background: #1f2424;
  padding: 6rem 5%;
  color: #fff;
}

.about-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 1.2rem;
  text-align: center;
}

.about-text p strong {
  color: #d9bc17;
}

.about-image {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-bg {
  position: absolute;
  width: 280px;
  height: 280px;
  background: linear-gradient(135deg, #FFD700, #ffcc33);
  transform: rotate(-15deg);
  border-radius: 20px;
  z-index: 0;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-image img {
  position: relative;
  width: 250px;
  height: 250px;
  object-fit:contain;
  border-radius: 20px;
  transform: rotate(-15deg);
  z-index: 1;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-image:hover .rectangle-bg {
  transform: rotate(-12deg) scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 215, 0, 0.4);
}

.about-image:hover img {
  transform: rotate(-12deg) scale(1.05);
  box-shadow: 0 10px 25px rgba(255, 215, 0, 0.5);
}

/* Responsive */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .about-text {
    flex: 1;
    text-align: left;
  }

  .about-text p {
    text-align: left;
  }

  .about-image {
    justify-content: flex-start;
  }

  .rectangle-bg {
    width: 300px;
    height: 300px;
  }

  .about-image img {
    width: 270px;
    height: 270px;
  }
}

.slider-container {
  position: relative;
  overflow: visible;
  width: 100%;
}

.projects-slider {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.projects-slider::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.projects-section {
  padding: 5rem 1.5rem;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3.5rem;
}


@media (min-width: 768px) {
  .projects-section {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  border: 1px solid #FFD700;
  min-width: 300px;
  flex: 0 0 auto;
  padding: 1.25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  color: #fff; 
}

.project-card:hover,
.service-card:hover {
  transform: scale(1.05);
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.6);
  border-color: #FFD700;
  background-color: #000;
  color: #fff;
}

@media (max-width: 480px) {
  .project-card {
    min-width: 80%;
  }
}

.project-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFD700;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s;
}

.slider-btn:hover {
  background: #000;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 600;
  color:#FFD700;
  margin-bottom: 0.5rem;
}

.tech-stack {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-stack p {
  border: 1px solid #FFD700;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.button-group button {
  padding: 0.5rem 2rem;
  border: 1px solid #FFD700;
  border-radius: 1rem;
  font-weight: 600;
  color:#fff;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-group button:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  border: 1px solid #fff;
}

.button-group button a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.project-card:hover .button-group button a {
  color: #fff;
}

/* Services sectipn */
.service-section {
  padding: 5rem 1.5rem;
}

@media (min-width: 768px) {
  .service-section {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.about-section h2,
.service-section h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 3.5rem;
  font-size: 3rem;
}

.service-grid {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service-card {
  border: 1px solid #FFD700;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.service-card i {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.service-card h3 {
  color: #FFD700;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.service-card h4 {
  margin-bottom: 0.5rem;
}

.service-card p {
  line-height: 1.5;
}

/* Contact Form */
.contact-section {
  padding: 4rem 1.5rem;
}

@media (min-width: 768px) {
  .contact-section {
    padding: 4rem 5rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-section h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.contact-form input[type="email"] {
  border: 1px solid #000;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem; 
  width: 100%;
  max-width: 28rem;
  box-sizing: border-box;
}

.contact-form button {
  border: 1px solid #FFD700;
  padding: 0.5rem 2rem; 
  border-radius: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-form button:hover {
  color: #fff;
  border-color: #fff;
  transform: scale(1.1);
}


/* Footer */
footer {
  background: #4a4f55;
  padding: 2rem 0;
  color: #fff;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.footer-nav li a {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.footer-nav li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  width: 0;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD700;
  transition: width 0.5s ease-in-out;
}

.footer-nav li a:hover::before {
  width: 100%;
}

.footer-text {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}
